# Librerías básicas
streamlit
pandas
numpy
plotly
graphviz
matplotlib  # Para visualizaciones

# Integración con Google Sheets
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

oauth2client  # Para autenticación

# Geolocalización
geopy


# Manejo de credenciales
oauth2client



