# Librerías básicas
streamlit
pandas
numpy
plotly
graphviz

# Integración con Google Sheets
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Geolocalización y visualización en mapas
geopy

# Manejo de credenciales
oauth2client
